export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export AWS_SESSION_TOKEN=""

export RESTIC_PASSWORD=""
export RESTIC_REPOSITORY="s3:s3.amazonaws.com/nombre-bucket"

export DB_HOST=""
export DB_PORT=""
export DB_NAME=""
export DB_USER=""
export PGPASSWORD=""
